= form_for @poem do |f|
  - if @poem.errors.any?
    #error_explanation
      %ul
        - @poem.errors.full_messages.each do |msg|
          %li= msg
  .field
  = f.label t('poems.name')
  = f.text_field :name, autofocus: true      
  .field
    = f.label t('poems.description')
    = f.text_area :description, rows: 5
  .field
    = f.label t('poems.body')
    = f.text_area :body, rows: 10
  .actions
    %h2=t('poems.category')
    - Category.all.each do |category|
      %label.checkbox
        = check_box_tag "poem[category_ids][]", category.id, @poem.categories.include?(category)
        = category.name
    %br    
    = button_tag class: "btn btn-info" do
      %i.icon-edit
      =t('button.save')