.tools
  = link_to poem_paragraph_path(@paragraph.poem, @paragraph, format: "pdf"), class: "btn btn-warning btn-mini" do
    %i.icon-download-alt
    PDF
  %b 
    =t('tools.width')
  = button_tag class: "btn btn-info btn-mini", id: "width-plus" do
    %i.icon-plus
  = button_tag class: "btn btn-info btn-mini", id: "width-minus" do
    %i.icon-minus 
  %b
    =t('tools.size')    
  = button_tag class: "btn btn-info btn-mini", id: "size-plus" do
    %i.icon-plus
  = button_tag class: "btn btn-info btn-mini", id: "size-minus" do
    %i.icon-minus          