= tinymce
= form_for @paragraph do |f|
  - if @paragraph.errors.any?
    #error_explanation
      %ul
        - @paragraph.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label t('poems.name')
    = f.text_field :name
  .field
    = f.label t('poems.body')
    = f.text_area :body, rows: 10, :class => "tinymce"
  .field
    = f.label :tag_ids, "Tags"
    = f.collection_select :tag_ids, Tag.order(:name), :id, :name, {}, {multiple: true}
  %br    
  -unless params[:poem].nil?  
    = f.hidden_field :poem_id, value: params[:poem]
  .actions
    = button_tag class: "btn btn-info" do
      <i class='icon-edit'></i>
      =t('button.save')
