!!!
%html
  %head
    %title Itra
    = stylesheet_link_tag    "application", :media => "all"
    = yield :sign
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render "layouts/header"
    .container-fluid
      .row-fluid
        .span3
          = render "layouts/left"
        = yield
      = render "layouts/footer"
