!!!
%html
  %head
    %title Itransition #{yield :title} 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    =render "layouts/js_locale"
  %body
    -flash.each do |key,msg|
      %div{class: "message alert-#{key} alert", id: key}
        %button{class: "close", "data-dismiss" => "alert"}
          &times;
        %h4 #{key.capitalize}! 
        =content_tag :div, msg       
    = render "layouts/header"
    .container-fluid
      .row-fluid
        .span3
          = render "layouts/left"
        = yield
      = render "layouts/footer"
      